{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
    <title>Error 404 - Agencia Ingraphic</title>        
    <meta name="description" content="Como agencia de desarrollo de diseño y desarrollo web en Cartagena ofrecemos servicios adaptados a las necesidades de tu negocio. Visítanos, conoce todos nuestros servicios.">
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li class="active"><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down"><a href="javascript:;" title="Nosotros"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %} 

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Error 404</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <section class="text-center px-0">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                    <div class="section-title">
                        <h2>Error 404</h2>
                        <h3>Lo que buscas <span>no se encuentra aquí</span></h3>
                        <img src="{% static 'home/img/question.webp' %}" class="img-fluid" alt="Error 404">
                        <p>
                            Acabas de ingresar a un link que no existe en nuestro sitio web. <br>
                            <strong>Verifica e intenta de nuevo</strong> o <a href="/contacto/" title="ir a contactos">contáctanos y avísanos de este error.</a>
                        </p>
                    </div>
              </div>
            </div>
          </div>
    </section>

</main><!-- End #main -->

{% endblock content %}