{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
    <title>Quiénes somos - Agencia Ingraphic - Diseño y Desarrollo web</title>
    <meta name="description" content="Conozca quiénes somos. Agencia de diseño y desarrollo web. Ofrecemos servicios adaptados a las necesidades de su negocio o empresa."> 
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down active"><a href="javascript:;" title="Nosotros"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li class="active"><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %} 

{% block content %}

<main id="main" data-aos="fade-up" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Quiénes somos</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h1><span>Agencia Ingraphic</span> - Quiénes somos</h1>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                    <img src="{% static 'home/img/ce-8.webp' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center"
                    data-aos="fade-up" data-aos-delay="100">
                    <p class="text-justify">
                        Somos una agencia conformada por jóvenes creativos, con más de 5 años de experiencia desarrollando productos y servicios para clientes de la ciudad de Cartagena, ciudades de Colombia, Norte América y Europa. 
                    </p>
                    <p class="text-justify">
                        Ofrecemos servicios digitales efectivos basados en 4 pilares fundamentales como lo son: presencia digital, diseño gráfico, producción multimedia e imprenta digital.
                    </p>
                    <p class="text-justify">
                        Somos <b>Agencia Ingraphic - ALWAYS IN</b>, apasionados por las tecnologías al servicio de los negocios. <br><br>
                        
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>El equipo</h2>
                <h3>Conoce a los fundadores <span>#Ingraphic</span></h3>
                <p>Somos líderes en nuestra área y trabajamos por entregar lo mejor a nuestros clientes.</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'home/img/team/team1.webp' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Angélica Lorduy</h4>
                            <span><strong>Diseñadora gráfica</strong></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="{% static 'home/img/team/team2.webp' %}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Juan Sarmiento</h4>
                            <span><strong>Desarrollador web</strong></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">SEO <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Marketing <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Desarrollo <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">Diseño <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">UI/UX <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Planeación <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">200</span>
                        <p>Clientes felices</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">500</span>
                        <p>Proyectos</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p>Horas de soporte</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">2</span>
                        <p>Fundadores</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

     <!-- ======= Testimonials Section ======= -->
     <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
            <div class="text-white text-center">                    
                <div class="row align-items-center">
                    <div class="col-md-6 col-xs-12">
                        <h2>¿Tienes un negocio, empresa o marca personal?</h2>
                        <h4 class="mt-4">¡Queremos ser tus aliados tecnológicos!</h4>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <a href="http://wa.me/573147096731" target="_blank" title="Enviar mensaje vía Whatsapp"><button class="btn btn-success btn-lg p-3"><h4>Empecemos ahora <i class="fa fa-rocket"></i></h4></button></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Testimonials Section -->
    
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients my-5">
        <div class="container" data-aos="zoom-in">
            <div class="section-title mb-5">
                <h2>Clientes</h2>
                <h3>Empresas / organizaciones <span>que confían</span> en nosotros</h3>
                <p>
                    Nuestros clientes se encuentra localizados en diferentes ciudades de Colombia, Norte América y Europa.
                </p>
            </div>

            <div class="row mt-5">

                <div class="offset-md-1 col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-1.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-2.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-3.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-4.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-5.webp' %}" class="img-fluid" alt="">
                </div>               

            </div>
            <div class="row">
                <div class="offset-md-1 col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-6.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-7.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-8.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-9.webp' %}" class="img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'home/img/clients/client-10.webp' %}" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->

{% endblock content %}