{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
<title>{{post.title}} | Blog Ingraphic</title>
{% endblock title_desc %}
{% block cards %}
<!-- Schema.org markup for Google -->
<meta name="description" content="{{post.short_description}}"/>
<meta itemprop="name" content="{{post.title}}">
<meta itemprop="description" content="{{post.short_description}}">
<meta itemprop="image" content="{{post.image.url}}">

<meta name="author" content="Agencia Ingraphic">
<meta name='date' content='{{ post.created_at | date:"Y/m/d" }}'>

<meta property="og:url" content="https://www.ingraphic.co/blog/post/{{post.slug}}">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content="{{post.short_description}}">
<meta property="og:image" content="{{post.image.url}}">
<meta property='og:type' content='article' />
<meta property='og:site_name' content='Agencia Ingraphic' />
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">  

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://www.ingraphic.co/blog/post/{{post.slug}}">
<meta name="twitter:title" content="{{post.title}}">
<meta name="twitter:description" content="{{post.short_description}}">
<meta name="twitter:creator" content="@ingraphic_co">
<meta name="twitter:image" content="{{post.image.url}}">
{% endblock cards %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li class="active"><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li><a href="{% url 'home_blog' %}" title="Ir a Blog">Blog</a></li>
                    <li>Detalle de la publicación</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section>
        <div class="container">
            <!-- Section: Blog v.4 -->

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="{{post.image.url}}" alt="{{post.title}}">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h1 class="font-weight-bold">{{post.title}}</h1>
                            <div class="row my-3 text-center">
                                <div class="col-md-12">
                                    {% for category in post.categories.all %}
                                    <a href="#!">
                                        <span class="font-weight-bold mb-3"><i class="{{category.icon}}"></i>
                                            {{category.name}}</span>
                                    </a>&nbsp;&nbsp;&nbsp;
                                    {% endfor %}
                                </div>

                            </div>
                            <!-- Data -->
                            <p>publicado por <strong>{{post.created_by.first_name}}
                                    {{post.created_by.last_name}}</strong> <i class="fas fa-calendar-alt"></i>
                                {{post.created_at|date:"d M Y"}}</p>
                            <!-- Social shares -->
                            <div class="social-counters">
                                <!-- Facebook -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/blog/post/{{post.slug}}/" class="btn btn-def" target="_blank">
                                    <i class="fab fa-facebook-f pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">Facebook <i class="fa fa-share"></i></span>
                                </a>
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url={{ request.get_host }}/blog/post/{{post.slug}}&text={{post.title}}" class="btn btn-def" target="_blank">
                                    <i class="fab fa-twitter pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">Twitter <i class="fa fa-share"></i></span>
                                </a>
                                <!-- Google+ -->
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_host }}/blog/post/{{post.slug}}/&title={{post.title}}&summary={{post.short_description}}&source=Ingraphic/" class="btn btn-def" target="_blank">
                                    <i class="fab fa-linkedin pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">LinkedIn <i class="fa fa-share"></i></span>
                                </a>
                                <!-- Comments -->
                                <a href="#comments" class="btn btn-def">
                                    <i class="far fa-comments pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">Comentarios</span>
                                </a>
                            </div>
                            <!-- Social shares -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->

                    <!-- Excerpt -->
                    <div class="mt-5">
                        {{post.description|safe}}
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="mt-4">
        </div>
    </section>
    <section id="comments">
        <div class="container">
            <!-- Reply section -->
            <div class="mb-5">

                <!-- Leave a reply -->
                <div class="card-header border-0 font-weight-bold">Deja tu comentario</div>

                <!-- Default form reply -->
                <form class="px-1 mt-4 custom-form" id="commentform" method="POST">

                    <!-- Name -->
                    <label for="replyFormName">Tu nombre</label>
                    <input type="text" class="form-control" id="user" name="user">

                    <br>

                    <!-- Email -->
                    <label for="replyFormEmail">Tu email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <br>
                    <!-- Comment -->
                    <div class="form-group">
                        <label for="replyFormComment">Tu comentario</label>
                        <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                    </div>
                    

                    <div class="text-center mt-4">
                        <button class="btn btn-def btn-md" id="btn_comment">Enviar</button>
                    </div>

                </form>
                <!-- Default form reply -->

            </div>
            <!-- Reply section -->            
            <!-- Card header -->
            <div class="card-header border-0 font-weight-bold mb-5">{{comments.count}} comentarios</div>
            {% for comment in comments  %}
            <div class="media d-block d-md-flex mt-4">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="font-weight-bold mt-0">
                        {{comment.user}} - <small> <i class="fas fa-calendar-alt"></i>
                            {{comment.created_at|date:"d M Y"}}</small>
                    </h5>
                    "{{comment.description}}"

                </div>
            </div>
            <hr class="mb-5 mt-4">
            {% endfor %}                      
        </div>


    </section>

</main><!-- End #main -->

{% endblock content %}

{% block scripts %}
<script>
    $('#btn_comment').click(function(event){
         event.preventDefault(); 
     
         var user = $("#user").val();
         var email = $("#email").val();
         var comment = $("#comment").val();
 
         if (user=="" || email =="" || comment ==""){
             alert("Formulario invalido, Todos los campos son requeridos!");
         }else{  
             document.getElementById('btn_comment').disabled = true;

             $.ajax({
                     type: "POST",
                     url: "{% url 'post_comment' %}",
                     data: {'user' : user,
                         'email': email,
                         'comment':comment,
                         'slug': '{{post.slug}}',
                         'csrfmiddlewaretoken': '{{ csrf_token }}'
                     },
                     dataType: "json", 
                     success: function(response) {
                         alert(response.message); 
                         $('#commentform').trigger("reset");  
                         location.reload();                
                         },
                         error: function(rs) {
                         alert(rs.responseText); 
                         location.reload();
                         }
                 }); 
         }
  
     });
 </script>
    
{% endblock scripts %}
    