{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
    <title>Agencia Ingraphic - Contacto</title>  
    <meta name="description" content="Conozca nuestros canales habilitados. Somos Ingraphic, su agencia de diseño y desarrollo web. Ofrecemos servicios digitales en Cartagena.">  
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li class="active"><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %} 

{% block content %}

<main id="main" data-aos="fade-up" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Contacto</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h1>Contacto - <span>Agencia Ingraphic</span></h1>
                <p>Estamos atentos a cualquier solicitud, comentario o duda que tenga, escríbenos.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-4 col-md-4">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Estamos en</h3>
                        <p>Cartagena de Indias, Colombia</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Nuestros emails son</h3>
                        <p class="my-2">Información general: <a href="mailto:info@ingraphic.co">info@ingraphic.co</a></p>
                        <p class="my-2">Ventas: <a href="mailto:comercial@ingraphic.co">comercial@ingraphic.co</a></p>
                        <p class="my-2">Diseño gráfico: <a href="mailto:alorduy@ingraphic.co">alorduy@ingraphic.co</a></p>
                        <p class="mt-2">Desarrollo web: <a href="mailto:jsarmiento@ingraphic.co">jsarmiento@ingraphic.co</a></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Nuestro teléfono es</h3>
                        <p><a href="tel:+573147096731"> +57 314 7096731</a></p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    
                </div>

                <div class="col-lg-12">
                    <form class="php-email-form" id="myForm">
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name"
                                    placeholder="Tu nombre completo" data-rule="minlen:8"
                                    data-msg="Por favor, ingresa al menos 8 caracteres" />
                                <div class="validate"></div>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Tu Email" data-rule="email"
                                    data-msg="Por favor, ingresa un correo electrónico válido" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="number" class="form-control" name="phone" id="phone"
                                    placeholder="Tu número de teléfono" data-rule="minlen:7"
                                    data-msg="Por favor ingresa al menos 7 números" />
                                <div class="validate"></div>
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Tu asunto" data-rule="minlen:8"
                                    data-msg="Por favor, ingresa al menos 8 caracteres en el asunto" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="5" data-rule="required"
                                data-msg="Please write something for us" placeholder="Tu mensaje..."></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-def" id="mensaje_form">Enviar mensaje</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
{% block scripts %}
<script>
    $('#mensaje_form').click(function (e) {
        e.preventDefault();
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var subject = document.getElementById("subject").value;
        var phone = document.getElementById("phone").value;
        var message = document.getElementById("message").value;

        if (name == "" || email == "" || message == "" || subject == "" || phone == "") {
            alert("Formulario invalido, ingrese sus datos en los campos");
        } else {
            $.ajax({
                type: "POST",
                url: "{% url 'registrar_mensaje' %}",
                data: {
                    'name': name
                    , 'email': email
                    , 'subject': subject
                    , 'phone': phone
                    ,'message': message
                    , 'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                success: function (response) {
                    alert(response.message);
                    var form = document.getElementById("myForm");
                    form.reset();
                }
            });
        }
    });
</script>
{% endblock scripts %}