{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
<title>Categoría: {{category.name}} | Blog Ingraphic</title>
<meta name="description" content="Categoría {{category.name}} del Blog de la agencia Ingraphic. Visítanos para leer acerca de diseño gráfico, diseño web, novedades, tecnologías, negocios y más.">
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li class="active"><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %}

{% block content %}
<main id="main" data-aos="fade-up" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li><a href="{% url 'home_blog' %}" title="Ir a Blog">Blog</a></li>
                    <li>Filtro por categoría</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- Section: Blog v.2 -->
    <section>
        <div class="container">

            <!-- Section heading -->
            <h1 class="h1-responsive font-weight-bold text-center my-5">Publicaciones de la categoría: {{category.name}}</h1>
            <!-- Section description -->
            <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Publicamos contenido de valor para tu negocio, emprendimiento, marca personal o empresa. Suscríbete ahora y te avisaremos antes de todas nuestras publicaciones, servicios, promociones y más...
            </p>

            <hr class="my-3">
            <span class="font-weight-bold mb-3">Categorías del blog:</span>

            <ul class="nav nav-pills">
                
                {% for categ in categories  %}
                
                {% if categ == category %}
                <li class="nav-item">
                    <a class="nav-link active no-link" href="#"><i class="{{ categ.icon }}"></i> {{ categ.name }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'filtro_category' categ.slug %}"><i class="{{ categ.icon }}"></i> {{ categ.name }}</a>
                </li>
                {% endif %}          
                {% endfor %}                    
                
              </ul>

            <hr class="mt-3 mb-5">
            <!-- Grid row -->
            {% for post in posts %}
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="{{post.image.url}}" alt="{{post.titulo}}">                        
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3"><strong>{{post.title}}</strong></h3>
                    <div class="row my-3">
                        {% for category in post.categories.all %}
                    <a href="{% url 'filtro_category' category.slug %}">
                        <span class="font-weight-bold mb-3"><i class="{{category.icon}}"></i> {{category.name}}</span>
                    </a>&nbsp;&nbsp;&nbsp;
                    {% endfor %} 
                    </div>
                    
                    <p><span class="font-weight-bold"><i class="fas fa-user"></i></span> {{post.created_by.first_name}} {{post.created_by.last_name}} <i class="fas fa-calendar-alt"></i> {{post.created_at|date:"d M Y"}}</p>
                    <!-- Excerpt -->
                    <p class="dark-grey-text">{{post.short_description}}</p>
                    <!-- Post data -->
                    
                    <!-- Read more button -->
                    <a href="{% url 'single_post' post.slug %}" class="btn btn-def">Leer más</a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <hr class="my-5">
            {% endfor %}

            <hr class="my-5">  
            <!--Pagination -->
            <nav class="d-flex justify-content-center mt-5">
                <ul class="pagination pg-blue mb-0">

                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ posts.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Anterior</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <a href="#" class="page-link no-link">página {{ posts.number }} de {{posts.paginator.num_pages}}</a>
                    </li>
                    {% if posts.has_next %}
                    <li class="page-item">
                        <a href="?page={{ posts.next_page_number }}" class="page-link">Siguiente</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!--Pagination -->           
        </div>

    </section>
    <!-- Section: Blog v.2 -->

</main><!-- End #main -->

{% endblock content %}