{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152346576-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-152346576-1');
    </script>
    {% include 'home/parts/head.html' %}
    {% block title_desc %}
    <title>Ingraphic - Agencia de diseño y desarrollo web en Cartagena</title>   
    <meta name="description" content="Somos Ingraphic, agencia de diseño y desarrollo web en Cartagena. Ofrecemos servicios digitales adaptados a las necesidades de su negocio.">     
    {% endblock title_desc %}
    {% block cards %}    
    <script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "WebSite",
        "name": "Ingraphic",
        "url": "https://www.ingraphic.co/",
        "sameAs" : [
            "https://www.facebook.com/ingraphicCO/",
            "https://www.instagram.com/ingraphic_co/",
            "https://www.twitter.com/ingraphic_co/"
        ]
        }
    </script>
    <meta itemprop="image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">

    <meta property="og:title" content="Ingraphic - Agencia de diseño y desarrollo web en Cartagena de Indias">
    <meta property="og:description"
        content="Como agencia de diseño y desarrollo web, ofrecemos servicios adaptados a las necesidades de su negocio. Visítenos y conozca nuestras oferta digital.">
    <meta property="og:image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">
    <meta property="og:url" content="https://ingraphic.co/">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ingraphic" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://ingraphic.co/">
    <meta name="twitter:title" content="Ingraphic - Agencia de diseño y desarrollo web en Cartagena de Indias">
    <meta name="twitter:description"
        content="Como agencia de diseño y desarrollo web, ofrecemos servicios adaptados a las necesidades de su negocio. Visítenos y conozca nuestras oferta digital.">
    <meta name="twitter:creator" content="@ingraphic_co">
    <meta name="twitter:image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">        
    {% endblock cards %}
</head>

<body>
    <a href="https://wa.me/573147096731?text=Me%20gustaría%20saber%20acerca%20del%20servicio..." class="whatsapp" target="_blank" title="¡Estamos en línea, charlemos!"> <i class="fab fa-whatsapp whatsapp-icon"></i></a>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                Escríbenos: <i class="icofont-envelope"></i> <a href="mailto:comercial@ingraphic.co" title="¡Escríbenos ahora!">comercial@ingraphic.co</a>
            </div>
            <div class="contact-info mr-auto">
                Llámanos: <a href="tel:+573147096731" title="¡Llámanos ahora!"><i class="icofont-phone"></i> +57 314 7096731</a>
            </div>
            <div class="social-links">
                Síguenos:
                <a href="https://www.facebook.com/ingraphicCO/" target="_blank" rel="noopener noreferrer" title="Ir a facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ingraphic_co/" target="_blank" rel="noopener noreferrer" title="Ir a instagram" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://www.twitter.com/ingraphic_co/" target="_blank" rel="noopener noreferrer" title="Ir a twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="http://wa.me/573147096731" target="_blank" rel="noopener noreferrer" title="Ir a whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <span class="logo mr-auto"><a href="{% url 'home_view' %}" title="logo"><img src="{% static 'home/img/logo-header-color.png' %}"
                        alt="logo"></a></span>
            <nav class="nav-menu d-none d-lg-block">                
                {% block main_menu %}
                <ul>
                    <li class="active"><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
                    <li class="drop-down"><a href="javascript:;" title="Nosotros"><i class="fa fa-users"></i> Nosotros</a>
                        <ul>
                            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
                            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
                            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
                    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
                    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
                </ul>
                {% endblock main_menu %}                    
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    {% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center text-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1 class="text-white"><span class="h1 font-weight-bold">Ingraphic</span> <br> Agencia de diseño y desarrollo web en Cartagena</h1>
            <h2 class="text-white">Servicios digitales adaptados a las necesidades de cada cliente</h2>
            <div class="row text-center">
                <div class="offset-md-3 col-md-3">
                    <a href="{% url 'about_view' %}" class="btn-get-started p-3 m-3" title="Quiénes somos"><i class="fa fa-users"></i> Quiénes somos</a>&nbsp;
                </div>
                <div class="col-md-3 m-sm-1">
                    <a href="{% url 'contact_view' %}" class="btn-get-started p-3 m-3" title="Contáctanos"><i class="fa fa-envelope"></i> Contáctanos</a>
                </div>
                <!-- ======= 
                <a href="#" class="venobox btn-watch-video no-link" data-vbtype="video" data-autoplay="true" title="Ver video">
                    Ver video <i class="icofont-play-alt-2"></i>
                </a>
                 ======= -->
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">
                <div class="row mb-5 align-items-center">
                    <div class="col-xs-12 col-md-3 text-center">
                        <video width="300" autoplay loop muted>
                            <source src="{% static 'home/img/rocket.webm' %}" type="video/mp4">
                          Your browser does not support the video tag.
                          </video> 
                    </div>
                    <div class="col-xs-12 col-md-9 text-justify">
                        <p>
                            Como <strong>agencia de diseño y desarrollo web</strong> impulsamos tu negocio o empresa a través de <strong>soluciones digitales</strong> adaptadas a tus necesidades. Nos especializamos en productos y servicios para los sectores <strong>Industria, Comercio y Turismo</strong> en Cartagena, Colombia o en cualquier lugar del mundo. Estos se basan en 4 pilares que consideramos importantes para una <strong>estrategia efectiva:</strong>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="fa fa-globe"></i></div>
                            <h4 class="title">Presencia Digital</h4>
                            <p class="description">Definimos la mejor manera para posicionar a tu negocio y que lo
                                encuentren en la web</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="fa fa-pencil"></i></div>
                            <h4 class="title">Diseño gráfico</h4>
                            <p class="description">Identidad corporativa y piezas gráficas profesionales que harán
                                destacar a tu negocio</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="fa fa-play"></i></div>
                            <h4 class="title">Producción Multimedia</h4>
                            <p class="description">La clave para comunicar tu mensaje está en la creación de contenido
                                multi formato creativo</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon"><i class="fa fa-print"></i></div>
                            <h4 class="title">Imprenta</h4>
                            <p class="description">Desde el concepto hasta lo impreso, te brindamos servicios de calidad
                                para tu estrategia de marca</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Featured Services Section -->   

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Servicios</h2>
                    <h3>Conoce <span>lo que hacemos</span></h3>
                    <p>Cada servicio cuenta con su planeación de inicio a fin, esperando a ser ejecutado de manera personalizada para cada negocio.</p>
                </div>

                <div class="row">
                    
                    {% for service in services %}
                    
                    <div class="col-lg-4 col-md-6 d-flex my-3" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'service_detail_view' service.slug %}" title="Ir a detalles de {{ service.title }}">
                            <div class="icon-box">
                                <div class="icon"><i class="{{ service.category.icon }}"></i></div>
                                <h4>{{ service.title }}</h4>
                            </div>
                        </a>
                    </div>
                    
                    {% endfor %}             

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">
                <div class="text-white text-center">                    
                    <div class="row align-items-center">
                        <div class="col-md-6 col-xs-12">
                            <h2>¿Tienes un negocio, empresa o marca personal?</h2>
                            <h4 class="mt-4">¡Queremos ser tu departamento tecnológico!</h4>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <a href="http://wa.me/573147096731" target="_blank" title="Enviar mensaje vía Whatsapp"><button class="btn btn-success btn-lg p-3"><h4>Empecemos ahora <i class="fa fa-rocket"></i></h4></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Portafolio</h2>
                    <h3>Conoce un poco <span>lo que hemos realizado</span></h3>
                    <p>Desde diseño gráfico, páginas web y plataformas a la medida...</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Todos</li>
                            <li data-filter=".filter-design">Diseño</li>
                            <li data-filter=".filter-paginas">Páginas web</li>
                            <li data-filter=".filter-plataformas">Plataformas</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                        <img src="{% static 'home/img/ce-8.webp' %}" class="img-fluid" alt="Logo Ingraphic" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Logo Ingraphic</h4>
                            <p>Ingraphic</p>
                            <a href="{% static 'home/img/ce-8.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Logo Ingraphic" loading="lazy"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-plataformas filter-design">
                        <img src="{% static 'home/img/portfolio/logo-cci.webp' %}" class="img-fluid" alt="Logo plataforma CCI" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Plataforma CCI</h4>
                            <p>Diseño de logo y desarollo de plataforma web a la medida</p>
                            <a href="{% static 'home/img/portfolio/plataformaCCI.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Logo y Desarollo de plataforma web a la medida"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                        <img src="{% static 'home/img/portfolio/logo-sorprende.webp' %}" class="img-fluid" alt="Logo Sorprende Cartagena" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Sorprende Cartagena</h4>
                            <p>Diseño de logo</p>
                            <a href="{% static 'home/img/portfolio/logo-sorprende-1.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title=">Diseño de logo Sorprende Cartagena"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-paginas filter-design">
                        <img src="{% static 'home/img/portfolio/logo-indias.webp' %}" class="img-fluid" alt="Logo Indias Digital Travel" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Indias Digital Travel</h4>
                            <p>Diseño de logo y Página web</p>
                            <a href="{% static 'home/img/portfolio/web-indias.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Diseño de logo y Página web - Indias Digital Travel"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-6 portfolio-item filter-paginas filter-design">
                        <img src="{% static 'home/img/portfolio/logo-cd.webp' %}" class="img-fluid" alt="Logo Cartagena Discoveries" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Cartagena Discoveries</h4>
                            <p>Diseño de logo y Página web</p>
                            <a href="{% static 'home/img/portfolio/web-cartagena-discoveries.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Diseño de logo y Página web - Cartagena Discoveries"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-6 portfolio-item filter-paginas">
                        <img src="{% static 'home/img/portfolio/logo-hotel.webp' %}" class="img-fluid" alt="Logo Hotel Casa de Las Palmas" loading="lazy">
                        <div class="portfolio-info">
                            <h4>Hotel Casa de Las Palmas</h4>
                            <p>Diseño y desarrollo de Página web</p>
                            <a href="{% static 'home/img/portfolio/web-hotel-casa-de-las-plamas.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Diseño y desarrollo de Página web - Hotel Casa de Las Palmas"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 portfolio-item filter-paginas">
                        <img src="{% static 'home/img/portfolio/logo-sactown.webp' %}" class="img-fluid" alt="Logo SacTown Logistics" loading="lazy">
                        <div class="portfolio-info">
                            <h4>SacTown Logistics</h4>
                            <p>Diseño y desarrollo de Página web</p>
                            <a href="{% static 'home/img/portfolio/web-sactown.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Diseño y desarrollo de Página web - SacTown Logistics"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-plataformas">
                        <img src="{% static 'home/img/portfolio/logo-projectdeps.webp' %}" class="img-fluid" alt="Logo ProjectDeps" loading="lazy">
                        <div class="portfolio-info">
                            <h4>ProjectDeps S.A.S</h4>
                            <p>Desarollo de plataforma web a la medida</p>
                            <a href="{% static 'home/img/portfolio/web-projectdeps.webp' %}" data-gall="portfolioGallery"
                                class="venobox preview-link" title="Desarollo de plataforma web a la medida - ProjectDeps S.A.S"><i class="fa fa-search-plus"></i></a>
                            <a href="#" class="details-link no-link" title="Más detalles"><i
                                    class="fa fa-info-circle"></i></a>
                        </div>
                    </div>                   

                </div>

            </div>
        </section><!-- End Portfolio Section -->  

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients section-bg my-5">
            <div class="container" data-aos="zoom-in">
                <div class="section-title">
                    <h2>Clientes</h2>
                    <h3>Empresas u organizaciones <span>que confían</span> en nosotros</h3>
                    <p>
                        Nuestros clientes se encuentra localizados en diferentes ciudades de Colombia, Norte América y Europa.
                    </p>
                </div>

                <div class="row mt-5">

                    <div class="offset-md-1 col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-1.webp' %}" class="img-fluid" alt="client-1" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-2.webp' %}" class="img-fluid" alt="client-2" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-3.webp' %}" class="img-fluid" alt="client-3" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-4.webp' %}" class="img-fluid" alt="client-4" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-5.webp' %}" class="img-fluid" alt="client-5" loading="lazy">
                    </div>                   

                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-6.webp' %}" class="img-fluid" alt="client-6" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-7.webp' %}" class="img-fluid" alt="client-7" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-8.webp' %}" class="img-fluid" alt="client-8" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-9.webp' %}" class="img-fluid" alt="client-9" loading="lazy">
                    </div>

                    <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-center">
                        <img src="{% static 'home/img/clients/client-10.webp' %}" class="img-fluid" alt="client-10" loading="lazy">
                    </div>

                </div>

            </div>
        </section><!-- End Clients Section -->      
        
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <img src="{% static 'home/img/testimonials/ernesto.webp' %}" class="testimonial-img"
                            alt="testimonio Ernesto Matos" loading="lazy">
                        <h3>Ernesto Matos</h3>
                        <h4>Director - Indias Digital Travel</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            En la era digital en donde la innovación y el conocimiento  son claves para el nuevo desarrollo económico y social, empresas como estas con un trabajo serio y muy profesional son fundamentales.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                    <div class="testimonial-item">
                        <img src="{% static 'home/img/testimonials/angie.webp' %}" class="testimonial-img"
                            alt="testimonio Angie Nataly" loading="lazy">
                        <h3>Angie Nataly</h3>
                        <h4>Fundadora - Fundación Mapache Colombia</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Súper recomendados, trabajo de la mejor calidad, comprometidos y responsables, además de muy buenos resultados, son una agencia excelente!
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->
    {% endblock content %}
    {% include 'home/parts/footer.html' %}
    <script>
        $('.no-link').click(function(e){
            e.preventDefault();
        });
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>