{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
    <title>Agencia Ingraphic - Podcast</title>        
    <meta name="description" content="Consejos, tips y contenido relevante para su idea de negocio, emprendimiento o empresa lo encontrará aquí. Podcast Agencia Ingraphic.">
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li class="active"><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %} 

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Podcast</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <section class="text-center px-0 mx-0">
        <div class="container-fluid mx-0">
            <div class="row">
              <div class="col-md-12 mx-0">
                <img src="{% static 'home/img/podcast-horizontal.webp' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
    </section>
    <section class="text-center px-0">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                    <div class="section-title">
                        <h2>Muy pronto</h2>
                        <h3>Consejos, tips y contenido relevante para tu idea de negocio, emprendimiento o empresa <span>lo encontrarás aquí</span></h3>
                    </div>
              </div>
            </div>
          </div>
    </section>

</main><!-- End #main -->

{% endblock content %}