{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
    <title>Portafolio de servicios - Agencia Ingraphic - Diseño y Desarrollo Web</title>        
    <meta name="description" content="Somos Agencia Ingraphic. Conozca nuestro portafolio de servicios de diseño y desarrollo web en Cartagena.">
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down active"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li class="active"><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %} 

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Portafolio</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            
            <div class="section-title">
                <h1>Portafolio de servicios - Agencia Ingraphic</h1>
                <h2 class="my-5">Conozca nuestros servicios digitales</h2>
                <p>Nuestro portafolio de servicios digitales abarca desde diseño gráfico, páginas web, plataformas web a la medida y más...</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Todos</li>
                        <li data-filter=".filter-design">Diseño</li>
                        <li data-filter=".filter-paginas">Páginas web</li>
                        <li data-filter=".filter-plataformas">Plataformas</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                    <img src="{% static 'home/img/ce-8.webp' %}" class="img-fluid" alt="Logo Ingraphic">
                    <div class="portfolio-info">
                        <h4>Logo Ingraphic</h4>
                        <p>Ingraphic</p>
                        <a href="{% static 'home/img/ce-8.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Logo Ingraphic"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-plataformas filter-design">
                    <img src="{% static 'home/img/portfolio/logo-cci.webp' %}" class="img-fluid" alt="Logo plataforma CCI">
                    <div class="portfolio-info">
                        <h4>Plataforma CCI</h4>
                        <p>Diseño de logo y desarollo de plataforma web a la medida</p>
                        <a href="{% static 'home/img/portfolio/plataformaCCI.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Logo y Desarollo de plataforma web a la medida"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-design">
                    <img src="{% static 'home/img/portfolio/logo-sorprende.webp' %}" class="img-fluid" alt="Logo Sorprende Cartagena">
                    <div class="portfolio-info">
                        <h4>Sorprende Cartagena</h4>
                        <p>Diseño de logo</p>
                        <a href="{% static 'home/img/portfolio/logo-sorprende-1.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title=">Diseño de logo Sorprende Cartagena"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-paginas filter-design">
                    <img src="{% static 'home/img/portfolio/logo-indias.webp' %}" class="img-fluid" alt="Logo Indias Digital Travel">
                    <div class="portfolio-info">
                        <h4>Indias Digital Travel</h4>
                        <p>Diseño de logo y Página web</p>
                        <a href="{% static 'home/img/portfolio/web-indias.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Diseño de logo y Página web - Indias Digital Travel"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-6 portfolio-item filter-paginas filter-design">
                    <img src="{% static 'home/img/portfolio/logo-cd.webp' %}" class="img-fluid" alt="Logo Cartagena Discoveries">
                    <div class="portfolio-info">
                        <h4>Cartagena Discoveries</h4>
                        <p>Diseño de logo y Página web</p>
                        <a href="{% static 'home/img/portfolio/web-cartagena-discoveries.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Diseño de logo y Página web - Cartagena Discoveries"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-6 portfolio-item filter-paginas">
                    <img src="{% static 'home/img/portfolio/logo-hotel.webp' %}" class="img-fluid" alt="Logo Hotel Casa de Las Palmas">
                    <div class="portfolio-info">
                        <h4>Hotel Casa de Las Palmas</h4>
                        <p>Diseño y desarrollo de Página web</p>
                        <a href="{% static 'home/img/portfolio/web-hotel-casa-de-las-plamas.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Diseño y desarrollo de Página web - Hotel Casa de Las Palmas"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>  
                <div class="col-lg-4 col-md-6 portfolio-item filter-paginas">
                    <img src="{% static 'home/img/portfolio/logo-sactown.webp' %}" class="img-fluid" alt="Logo SacTown Logistics">
                    <div class="portfolio-info">
                        <h4>SacTown Logistics</h4>
                        <p>Diseño y desarrollo de Página web</p>
                        <a href="{% static 'home/img/portfolio/web-sactown.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Diseño y desarrollo de Página web - SacTown Logistics"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-plataformas">
                    <img src="{% static 'home/img/portfolio/logo-projectdeps.webp' %}" class="img-fluid" alt="Logo ProjectDeps">
                    <div class="portfolio-info">
                        <h4>ProjectDeps S.A.S</h4>
                        <p>Desarollo de plataforma web a la medida</p>
                        <a href="{% static 'home/img/portfolio/web-projectdeps.webp' %}" data-gall="portfolioGallery"
                            class="venobox preview-link" title="Desarollo de plataforma web a la medida - ProjectDeps S.A.S"><i class="fa fa-search-plus"></i></a>
                        <a href="#" class="details-link no-link" title="Más detalles"><i
                                class="fa fa-info-circle"></i></a>
                    </div>
                </div>                   

            </div>
          </div>
    </section>

</main><!-- End #main -->

{% endblock content %}