{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
<title>{{service.title}} | Agencia Ingraphic Cartagena</title>
{% endblock title_desc %}
{% block cards %}
<!-- Schema.org markup for Google -->
<meta name="description" content="{{service.short_description}}"/>
<meta itemprop="name" content="{{service.title}}">
<meta itemprop="description" content="{{service.short_description}}">
<meta itemprop="image" content="{{service.image.url}}">

<meta name="author" content="Agencia Ingraphic">
<meta name='date' content='{{ service.created_at | date:"Y/m/d" }}'>

<meta property="og:url" content="https://www.ingraphic.co/servicios/{{service.slug}}">
<meta property="og:title" content="{{service.title}}">
<meta property="og:description" content="{{service.short_description}}">
<meta property="og:image" content="{{service.image.url}}">
<meta property='og:type' content='article' />
<meta property='og:site_name' content='Agencia Ingraphic' />
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">  

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://www.ingraphic.co/servicios/{{service.slug}}">
<meta name="twitter:title" content="{{service.title}}">
<meta name="twitter:description" content="{{service.short_description}}">
<meta name="twitter:creator" content="@ingraphic_co">
<meta name="twitter:image" content="{{service.image.url}}">
{% endblock cards %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down active"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li class="active"><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
                    <li>Detalle del servicio: {{service.title}}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section itemscope itemtype ="https://schema.org/Service">
        <div class="container">
            <!-- Section: Blog v.4 -->

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="{{service.image.url}}" alt="{{service.title}}">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h1 class="font-weight-bold" itemprop="serviceType">{{service.title}}</h1>
                            <div class="row my-3 text-center">
                                <div class="col-md-12">
                                    <a href="#!">
                                        <span class="font-weight-bold mb-3"><i class="{{service.category.icon}}"></i>
                                            {{service.category.name}}</span>
                                    </a>
                                </div>

                            </div>
                            <!-- Data -->
                            <!-- Social shares -->
                            <div class="social-counters">
                                <!-- Facebook -->
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/servicios/{{service.slug}}/" class="btn btn-def" target="_blank">
                                    <i class="fab fa-facebook-f pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">Facebook <i class="fa fa-share"></i></span>
                                </a>
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url={{ request.get_host }}/servicios/{{service.slug}}&text={{post.title}}" class="btn btn-def" target="_blank">
                                    <i class="fab fa-twitter pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">Twitter <i class="fa fa-share"></i></span>
                                </a>
                                <!-- Google+ -->
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_host }}/servicios/{{service.slug}}/&title={{post.title}}&summary={{post.short_description}}&source=Ingraphic/" class="btn btn-def" target="_blank">
                                    <i class="fab fa-linkedin pr-2"></i>
                                    <span class="clearfix d-none d-md-inline-block">LinkedIn <i class="fa fa-share"></i></span>
                                </a>
                            </div>
                            <!-- Social shares -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->

                    <!-- Excerpt -->
                    <div class="mt-5" itemprop="description">
                        {{service.description|safe}}
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="mt-4">
        </div>
    </section>

</main><!-- End #main -->

{% endblock content %}
    