{% extends 'home/index.html' %}
{% load static %}

{% block title_desc %}
<title>Servicios de diseño y desarrollo web en Cartagena - Ingraphic</title>
<meta name="description"
    content="Como agencia de desarrollo de diseño y desarrollo web en Cartagena ofrecemos servicios adaptados a las necesidades de tu negocio. Visítanos, conoce todos nuestros servicios.">
{% endblock title_desc %}

{% block main_menu %}
<ul>
    <li><a href="{% url 'home_view' %}" title="Ir a Inicio"><i class="fa fa-home"></i> Inicio</a></li>
    <li class="drop-down active"><a href="javascript:;" title="Ir a quiénes somos"><i class="fa fa-users"></i> Nosotros</a>
        <ul>
            <li><a href="{% url 'about_view' %}" title="Ir a Servicios">Quiénes somos</a></li>
            <li class="active"><a href="{% url 'service_list_view' %}" title="Ir a Servicios">Servicios</a></li>
            <li><a href="{% url 'portfolio_view' %}" title="Ir a Portafolio">Portafolio</a></li>
        </ul>
    </li>
    <li><a href="{% url 'podcast_view' %}" title="Podcast Ingraphic"><i class="fa fa-microphone-alt"></i> Podcast</a></li>
    <li><a href="{% url 'home_blog' %}" title="Ir a Blog"><i class="fab fa-microblog"></i> Blog</a></li>
    <li><a href="{% url 'contact_view' %}" title="Ir a Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
</ul>
{% endblock main_menu %}

{% block content %}
<main id="main" data-aos="fade-up" class="mt-5">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container mt-5">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                    <li>Servicios</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- Section: Blog v.2 -->
    <section>
        <div class="container">

            <!-- Section heading -->
            <h1 class="h1-responsive font-weight-bold text-center my-5">Servicios de diseño y desarrollo web en Cartagena</h1>
            <!-- Section description -->
            <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Como <strong>agencia de diseño y desarrollo web</strong> ofrecemos servicios adaptados a las necesidades de tu negocio en Cartagena o en cualquier lugar del mundo. Estos se basan en 4 pilares que consideramos importantes para una <strong>estrategia efectiva</strong>.
            </p>
            <p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary"><i class="fa fa-check"></i> Presencia Digital</li>
                    <li class="list-group-item list-group-item-primary"><i class="fa fa-check"></i> Diseño gráfico</li>
                    <li class="list-group-item list-group-item-primary"><i class="fa fa-check"></i> Producción Multimedia</li>
                    <li class="list-group-item list-group-item-primary"><i class="fa fa-check"></i> Imprenta</li>
                </ul>
            </p>

            <hr class="mt-3 mb-5">
            <!-- Grid row -->
            {% for service in services %}
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured image -->
                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                        <img class="img-fluid" src="{{service.image.url}}" alt="{{post.titulo}}">                        
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3"><strong>{{service.title}}</strong></h3>
                    <!-- Excerpt -->
                    <p class="dark-grey-text">{{service.short_description}}</p>
                    <!-- Post data -->
                    
                    <!-- Read more button -->
                    <a href="{% url 'service_detail_view' service.slug %}" class="btn btn-def">Conocer servicio <i class="fa fa-check"></i></a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <hr class="my-5">
            {% endfor %}                  
        </div>

    </section>
    <!-- Section: Blog v.2 -->

</main><!-- End #main -->

{% endblock content %}