{% load static %}
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h4>Suscríbete a nuestro boletín</h4>
                        <p>Serás de las primeras personas en enterarte de nuestras promociones, nuevas publicaciones, podcasts y más...</p>
                        <form id="subscribe_form">
                            <div class="form-row">
                                <div class="col form-group">
                                    <input type="text" name="name" id="name2" placeholder="tu nombre completo">
                                </div>
                                <div class="col form-group">
                                    <input type="email" name="email" id="email2" placeholder="tu email">
                                </div>
                            </div>
                            <input type="submit" value="Suscribirse" id="subscribe_btn">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h3><span>In</span>graphic</h3>
                        <p>
                            Cartagena de Indias<br>
                            Colombia, 130004<br>
                            <strong>Teléfonos:</strong> +57 314 7096731<br>
                            <strong>Email:</strong> comercial@ingraphic.co<br>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Links útiles</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home_view' %}" title="Ir a Inicio">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_view' %}" title="Ir a quiénes somos">Nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home_blog' %}" title="Ir a Blog">Blog</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact_view' %}" title="Ir a Contacto">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Nuestras redes sociales</h4>
                        <p>Sigue todo el contenido que creamos día a día</p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/ingraphicCO/" target="_blank" rel="noopener noreferrer" title="Ir a facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/ingraphic_co/" target="_blank" rel="noopener noreferrer" title="Ir a instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="http://wa.me/573147096731" target="_blank" rel="noopener noreferrer" title="Ir a whatsapp"><i class="fab fa-whatsapp"></i></a>
                            <a href="https://www.twitter.com/ingraphic_co/" target="_blank" rel="noopener noreferrer" title="Ir a twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/agencia-ingraphic" class="linkedin" rel="noopener noreferrer" title="Ir a Linkedin"><i class="bx bxl-linkedin"></i></a>                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                <strong><span>Ingraphic</span></strong>| Agencia de diseño y desarrollo web en Cartagena &copy; {% now "Y" %}. Todos los derechos reservados.
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/" title="Go to web Designer">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top" title="Back to top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'home/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'home/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'home/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'home/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'home/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'home/vendor/aos/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'home/js/main.js' %}"></script>
    <script>
        $('#subscribe_btn').click(function (e) {
            e.preventDefault();
            var name = $('#name2').val();
            var email = $('#email2').val();

            if (name == "" || email == "") {
                alert("Formulario invalido, ingrese sus datos en los campos");
            } else {
                $.ajax({
                    type: "POST",
                    url: "{% url 'registrar_suscriptor' %}",
                    data: {
                        'name': name
                        , 'email': email
                        , 'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {

                        setTimeout(function () {
                            alert(response.message);
                            var form = document.getElementById("subscribe_form");
                            form.reset();
                        }, 1000);
                    }
                });
            }
        });
    </script>

    <script>
        if ("loading" in HTMLImageElement.prototype) {
        // Si el navegador soporta lazy-load, tomamos todas las imágenes que tienen la clase
        // `lazyload`, obtenemos el valor de su atributo `data-src` y lo inyectamos en el `src`.
        const images = document.querySelectorAll("img.lazyload");
        images.forEach((img) => {
            img.src = img.dataset.src;
        });
        } else {
        // Importamos dinámicamente la libreria `lazysizes`
        let script = document.createElement("script");
        script.async = true;
        script.src =
            "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js";
        document.body.appendChild(script);
        }
    </script>
