    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">           
       

    <!-- Favicons -->
    <link href="{% static 'favicon.ico' %}" rel="icon">
    <!-- Google Fonts -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,300&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,300&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="preload" href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" as="style">
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="preload" href="{% static 'home/vendor/icofont/icofont.min.css' %}" as="style">
    <link href="{% static 'home/vendor/icofont/icofont.min.css' %}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/9b2eefdfe3.js" crossorigin="anonymous"></script>

    <link rel="preload" href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" as="style">
    <link href="{% static 'home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

    <link rel="preload" href="{% static 'home/vendor/owl.carousel/assets/owl.carousel.css' %}" as="style">
    <link href="{% static 'home/vendor/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
    
    <link rel="preload" href="{% static 'home/vendor/venobox/venobox.css' %}" as="style">
    <link href="{% static 'home/vendor/venobox/venobox.css' %}" rel="stylesheet">
    
    <link rel="preload" href="{% static 'home/vendor/aos/aos.css' %}" as="style">
    <link href="{% static 'home/vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="preload" href="{% static 'home/css/style.min.css' %}" as="style">
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet">