<!DOCTYPE html>{% load static %}{% load widget_tweaks %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Páginas web cartagena, Diseño gráfico, publicidad digital, publicidad impresa, Drones Cartagena, Redes sociales." />
  <meta name="author" content="Proveturis Agency" /> 

    <title>Inicio de sesión | Proveturis</title>

    <!-- vendor css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="{% static "panel/lib/Ionicons/css/ionicons.css" %}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "panel/css/bracket.css" %}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

      <div class="login-wrapper wd-600-force wd-xs-400 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
          <a href="{% url 'home_view' %}"><img src="{% static 'home/img/logo-header-color.png' %}" alt="" class="logo" /></a>
        </div>
        <hr>
        <h5 class="text-center"><strong>Inicio de sesión administradores</strong></h5>
        <br>
        <form method="POST" >
        {% csrf_token %}
        {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger text-center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-user tx-16 lh-0 op-6"></i></span>
          {% render_field form.email class+="form-control" placeholder="Ingresa tu email" required=""%}
        </div>
        <br>
            
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-lock tx-16 lh-0 op-6"></i></span>
          {% render_field form.password class+="form-control" placeholder="Ingresa tu contraseña" required=""%}
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-block">Entrar</button>
        <hr>
        <center>  
          <span class="tx-14">¿Has olvidado tu contraseña? <a href="#" class="tx-info">click aquí</a></span> <br>         
        </center>  
      </div><!-- login-wrapper -->
      </form>

    </div><!-- d-flex -->

    <script href="{% static "panel/lib/jquery/jquery.js" %}"></script>
    <script href="{% static "panel/lib/popper.js/popper.js" %}"></script>
    <script href="{% static "panel/lib/bootstrap/bootstrap.js" %}"></script>

  </body>
</html>
