<!DOCTYPE html>{% load static %}
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>
        {% block title %}
        Panel Principal administradores | Agencia Ingraphic
        {% endblock %}
    </title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="{% static "panel/lib/Ionicons/css/ionicons.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/datatables/jquery.dataTables.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/select2/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.css" %}" rel="stylesheet">
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "panel/css/bracket.css" %}">
    <link rel="shortcut icon" href="{% static "main/images/favicon.ico" %}"">

<script src=" {% static "panel/lib/jquery/jquery.js" %}">
</script>
    {{ form.media }}


    {% block extracss %}

    {% endblock extracss %}

</head>

<body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo">
        <a href="{% url 'admins_panel_view' %}"><img src="{% static 'home/img/logo-header-color.png' %}" alt="" class="logo" width="120px" /></a>
    </div>
    <div class="br-sideleft overflow-y-auto">
        <label class="sidebar-label pd-x-15 mg-t-20">Menú principal</label>
        <div class="br-sideleft-menu">
            {% block menu %}
            <a href="{% url 'admins_panel_view' %}" class="br-menu-link active">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">Panel Principal</span>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            {% if request.user.is_staff %}
            <a href="#" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon fas fa-user tx-16"></i>
                    <span class="menu-item-label">Clientes</span>
                    <i class="menu-item-arrow fas fa-angle-down"></i>
                </div><!-- menu-item -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link">Crear nuevo cliente</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Ver clientes</a></li>
                </ul>
            </a><!-- br-menu-link -->

            <a href="#" class="br-menu-link">
                <div class="br-menu-item">
                    <i class="menu-item-icon fas fa-rss tx-16"></i>
                    <span class="menu-item-label">Blog</span>
                    <i class="menu-item-arrow fas fa-angle-down"></i>
                </div><!-- menu-item -->
                <ul class="br-menu-sub nav flex-column">
                    <li class="nav-item"><a href="{% url 'gestion_post_admins' %}" class="nav-link">Gestión de
                            publicaciones</a></li>
                    <li class="nav-item"><a href="{% url 'gestion_categoria_admins' %}" class="nav-link">Gestión de
                            categorías</a></li>

                </ul>
            </a><!-- br-menu-link -->
            {% endif %}
            {% endblock %}
        </div><!-- br-sideleft-menu -->

        <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->


    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i
                        class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i
                        class="icon ion-navicon-round"></i></a></div>
        </div><!-- br-header-left -->
        <div class="br-header-right">
            <nav class="nav">
                <div class="dropdown">
                    <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                        <span class="logged-name hidden-md-down">{{request.user.username}}</span>
                        <img src="https://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">

                        <span class="square-10 bg-success"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header wd-200">
                        <ul class="list-unstyled user-profile-nav">
                            <li><a href="{% url 'admins_logout_view' %}"><i class="icon ion-power"></i> Cerrar
                                    Sesión</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </nav>
        </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->


    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="br-pageheader pd-y-15 pd-l-20">
            {% block breadcrumb %}
            <nav class="breadcrumb pd-0 mg-0 tx-12">
                <a class="breadcrumb-item active" href="{% url 'admins_panel_view' %}">Panel principal /</a>
            </nav>
            {% endblock %}
        </div><!-- br-pageheader -->
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h4 class="tx-gray-800 mg-b-5">
                {% block titulo%}
                Panel Principal administradores Agencia Ingraphic
                {% endblock %}
            </h4>
            <p class="mg-b-0">
                {% block subtitulo%}
                Bienvenid@ al panel principal de Administradores Agencia Ingraphic donde podrás gestionar muchas funciones
                según tu rol.
                {% endblock %}
            </p>
        </div>
        
        <div class="br-pagebody">
            {% block contenido%}
            {% if request.user.is_staff %}
            <div class="row row-sm">
                <div class="col">
                    <div class="bg-primary rounded overflow-hidden">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="fas fa-rss tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">
                                    Publicaciones</p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">{{num_posts}}</p>
                            </div>
                        </div>
                    </div>
                </div><!-- col-3 -->
                <div class="col mg-t-20 mg-xl-t-0">
                    <div class="bg-primary rounded overflow-hidden">
                        <div class="pd-25 d-flex align-items-center">
                            <i class="fas fa-users tx-60 lh-0 tx-white op-7"></i>
                            <div class="mg-l-20">
                                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Clientes
                                </p>
                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">{{num_customers}}</p>
                            </div>
                        </div>
                    </div>
                </div><!-- col-3 -->
            </div><!-- row -->
            {% endif %}
            <br>
            {% if messages %}
            <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div><!-- alert -->
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="ht-70 bg-gray-100 d-flex align-items-center justify-content-center shadow-base">

            </div><!-- br-pagebody -->
            {% endblock %}


        </div><!-- br-pagebody -->

        <footer class="br-footer">
            <div class="footer-left">
                <div class="mg-b-2">Agencia Ingraphic &copy; {% now "Y" %}. Todos los derechos reservados.</div>
                <div></div>
            </div>
            <div class="footer-right d-flex align-items-center">
                <span class="tx-uppercase mg-r-10">Redes Sociales:</span>
                <a target="_blank" class="pd-x-5" href="https://www.facebook.com/ingraphicCO/"><i
                        class="fab fa-facebook tx-20"></i></a>
                <a target="_blank" class="pd-x-5" href="https://www.instagram.com/ingraphic_co/"><i
                        class="fab fa-instagram tx-20"></i></a>
            </div>
        </footer>

    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
    <script src="{% static "panel/lib/popper.js/popper.js" %}"></script>
    <script src="{% static "panel/lib/bootstrap/bootstrap.js" %}"></script>
    <script src="{% static "panel/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js" %}"></script>
    <script src="{% static "panel/lib/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "panel/lib/datatables-responsive/dataTables.responsive.js" %}"></script>
    <script src="{% static "panel/lib/moment/moment.js" %}"></script>
    <script src="{% static "panel/lib/jquery-ui/jquery-ui.js" %}"></script>
    <script src="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.js" %}"></script>
    <script src="{% static "panel/lib/select2/js/select2.min.js" %}"></script>
    <script src="{% static "panel/lib/peity/jquery.peity.js" %}"></script>
    <script src="{% static "panel/js/bracket.js" %}"></script>



    {% block scripts %}
    <script>
        $('.table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            responsive: false,
            language: {
                searchPlaceholder: 'Filtro inteligente...',
                sSearch: '',
                lengthMenu: 'Mostrar _MENU_ Registros por página',
                "url": "{% static 'panel/lib/datatables/Spanish.json' %}",
            },

        });
    </script>

    {% endblock %}
</body>

</html>