{% extends 'panel/admins/panel.html'%}{% load static %} {% load widget_tweaks %}
{% block title %}Editar categoría | Panel Agencia Ingraphic{% endblock %}
{% block extracss %}
<link href="{% static "panel/lib/medium-editor/medium-editor.css" %}" rel="stylesheet">
<link href="{% static "panel/lib/medium-editor/default.css" %}" rel="stylesheet">
<link href="{% static "panel/lib/summernote/summernote-bs4.css" %}" rel="stylesheet">
{% endblock extracss %}
{% block menu %}
<a href="{% url 'admins_panel_view' %}" class="br-menu-link active">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Panel Principal</span>
    </div><!-- menu-item -->
</a><!-- br-menu-link -->
{% if request.user.is_staff %}
<a href="#" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-user tx-16"></i>
        <span class="menu-item-label">Clientes</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Crear nuevo cliente</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ver clientes</a></li>
    </ul>
</a><!-- br-menu-link -->

<a href="#" class="br-menu-link  active show-sub">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-rss tx-16"></i>
        <span class="menu-item-label">Blog</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="{% url 'gestion_post_admins' %}" class="nav-link">Gestión de publicaciones</a></li>
        <li class="nav-item"><a href="{% url 'gestion_categoria_admins' %}" class="nav-link active">Gestión de categorías</a></li>
    </ul>
</a><!-- br-menu-link -->
{% endif %}
{% endblock %}
{% block breadcrumb %}
<nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item active" href="{% url 'admins_panel_view' %}">Panel principal /</a>
</nav>
{% endblock %}
{% block titulo%}
Editar categoría
{% endblock %}
{% block subtitulo%}
Editar los detalles de la categoría.
{% endblock %}

{% block contenido%}
<div class="br-section-wrapper">
    {%for field in form %}
    <div class="control-group {%if field.errors %}error{%endif%}">
        {# render your field #}
    </div>
    {% endfor %}
    <div class="form-layout form-layout-2">
        <form method="POST">
            {% csrf_token %}
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label">Nombre de la categoría: <span
                                class="tx-danger">*</span></label>
                        {% render_field form.nombre class+="form-control" name+="titulo"%}
                    </div>
                </div><!-- end row -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-12 mg-t--1 mg-md-t-0">
                    <div class="form-group mg-md-l--1">
                        <label class="form-control-label">Slug de la categoría: <span class="tx-danger">*</span></label>
                        {% render_field form.slug class+="form-control"%}
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label">Ícono de la categoría: <span
                                class="tx-danger">*</span></label>
                        {% render_field form.icono class+="form-control"%}
                    </div>
                </div><!-- end row -->
            </div><!-- row -->

            <div class="form-layout-footer bd pd-20 bd-t-0">
                <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Publicar</button>
                <a href="{% url 'gestion_categoria_admins' %}" class="btn btn-info"><i class="fas fa-times"></i>
                    Cancelar</a>
            </div><!-- form-group -->
        </form>
    </div><!-- form-layout -->
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "panel/lib/summernote/summernote-bs4.min.js" %}"></script>
<script src="{% static "panel/lib/medium-editor/medium-editor.js" %}"></script>
<script src="{% static "panel/lib/select2/js/select2.min.js" %}"></script>
<script>
    $(function () {
        'use strict';

        // Inline editor
        var editor = new MediumEditor('.editable');

        // Summernote editor
        $('#summernote').summernote({
            height: 150,
            tooltip: false
        })
    });
</script>
<script>
    $(function () {
        //Initialize Select2 Elements
        var data = [
            {% for categoria in form.instance.categoria.all %}

{ id: '{{categoria.id}}', text: '{{categoria.nombre}}' },


        {% endfor %}

];

    var data1 = [
        {% for cat in categorias %}
    { id: '{{cat.id}}', text: '{{cat.nombre}}' },
    {% endfor %}

];



    for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < data1.length; j++) {
            if (data[i].text == data1[j].text) {
                data1[j].selected = true;
            }


        }


    }


    $("#categorias2").select2({
        data: data1
    });

});



</script>
{% endblock %}