{% extends 'panel/admins/panel.html'%}{% load static %}
{% block title %}Gestión de publicaciones | Panel Agencia Ingraphic{% endblock %}
{% block menu %}
<a href="{% url 'admins_panel_view' %}" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Panel Principal</span>
    </div><!-- menu-item -->
</a><!-- br-menu-link -->
{% if request.user.is_staff %}
<a href="#" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-user tx-16"></i>
        <span class="menu-item-label">Clientes</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Crear nuevo cliente</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ver clientes</a></li>
    </ul>
</a><!-- br-menu-link -->

<a href="#" class="br-menu-link active show-sub">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-rss tx-16"></i>
        <span class="menu-item-label">Blog</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="{% url 'gestion_post_admins' %}" class="nav-link">Gestión de publicaciones</a></li>
        <li class="nav-item"><a href="{% url 'gestion_categoria_admins' %}" class="nav-link active">Gestión de categorías</a></li>
    </ul>
</a><!-- br-menu-link -->
{% endif %}
{% endblock %}
{% block breadcrumb %}
<nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item active" href="{% url 'admins_panel_view' %}">Panel principal /</a>
</nav>
{% endblock %}
{% block titulo%}
Gestión de Categorías
{% endblock %}
{% block subtitulo%}
Gestionar categorías existentes en el blog.
{% endblock %}

{% block contenido%}
<div class="br-section-wrapper">
    <div class="d-flex float-right mg-b-30">
        <a href="{% url 'nueva_categoria_admin' %}"><button
                class="btn btn-success tx-11 tx-uppercase tx-mont tx-medium tx-spacing-1 pd-x-30 bd-2 "><i
                    class="fas fa-plus mg-r-10"></i> Crear nueva categoría</button></a>
    </div>
    <br>

    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">Titulo</th>
                    <th class="wd-15p">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias  %}
                <tr>
                    <td>{{categoria.nombre}}</td>
                    <td>
                        <a href="{% url 'editar_categoria_admin' categoria.slug %}"><button class="btn btn-info"><i
                                    class="fas fa-pencil-alt"></i> Editar</button></a>
                        <a href="" class="btn btn btn-danger" data-toggle="modal"
                            data-target="#modal-{{categoria.id}}"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- table-wrapper -->

    <!-- MODAL ALERT MESSAGE -->
    {% for categoria in  categorias %}
    <div id="modal-{{categoria.id}}" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fas fa-trash-alt alert-icon tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4>Usted eliminará esta categoría: <span
                            class="tx-danger tx-semibold mg-b-20">"{{categoria.nombre}}"</span>!</h4>
                    <p class="mg-b-20 mg-x-20">Si procede con la acción, la publicación se eliminará de forma
                        permanente.</p>
                    <button type="button"
                        class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20 borrar_categoria"
                        name="{{categoria.id}}">
                        <i class="fas fa-trash-alt"></i> eliminar</button>
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "panel/lib/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "panel/lib/datatables-responsive/dataTables.responsive.js" %}"></script>
<script src="{% static "panel/lib/select2/js/select2.min.js" %}"></script>
<script>
    $(function () {
        'use strict';

        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Buscar...',
                sSearch: '',
                lengthMenu: '_MENU_ publicaciones por página',
            }
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
    });
</script>
<script>
    $('.borrar_categoria').click(function () {
        var id_cat = $(this).attr('name');
        $.ajax({
            type: "POST",
            url: "{% url 'borrar_categoria' %}",
            data: { 'id_cat': id_cat, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (response) {
                alert(response.message);
                location.reload();

            },
            error: function (rs, e) {
                alert(rs.responseText);
            }
        });
    });
</script>
{% endblock %}