{% extends 'panel/admins/panel.html'%}{% load static %} {% load widget_tweaks %}
{% block title %}Creación de publicación | Panel Agencia Ingraphic{% endblock %}
{% block extracss %}
<link href="{% static "panel/lib/medium-editor/medium-editor.css" %}" rel="stylesheet">
<link href="{% static "panel/lib/medium-editor/default.css" %}" rel="stylesheet">
<link href="{% static "panel/lib/summernote/summernote-bs4.css" %}" rel="stylesheet">
{% endblock extracss %}
{% block menu %}
<a href="{% url 'admins_panel_view' %}" class="br-menu-link active">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Panel Principal</span>
    </div><!-- menu-item -->
</a><!-- br-menu-link -->
{% if request.user.is_staff %}
<a href="#" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-user tx-16"></i>
        <span class="menu-item-label">Clientes</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Crear nuevo cliente</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Ver clientes</a></li>
    </ul>
</a><!-- br-menu-link -->

<a href="#" class="br-menu-link active show-sub">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-rss tx-16"></i>
        <span class="menu-item-label">Blog</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    <ul class="br-menu-sub nav flex-column">
        <li class="nav-item"><a href="{% url 'gestion_post_admins' %}" class="nav-link active">Gestión de publicaciones</a></li>
        <li class="nav-item"><a href="{% url 'gestion_categoria_admins' %}" class="nav-link">Gestión de categorías</a></li>
    </ul>
</a><!-- br-menu-link -->
{% endif %}
{% endblock %}
{% block breadcrumb %}
<nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item active" href="{% url 'admins_panel_view' %}">Panel principal /</a>
</nav>
{% endblock %}
{% block titulo%}
Crear nueva publicación.
{% endblock %}
{% block subtitulo%}
Crea una nueva publicacióny publícala.
{% endblock %}

{% block contenido%}
<div class="br-section-wrapper">
    {% if form.errors %}
    <span class="alert-danger">{{form.errors}}</span>
    {% endif %}
    <div class="form-layout form-layout-2">
        <form name="fomr" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label">Titulo de la publicación: <span
                                class="tx-danger">*</span></label>
                        {% render_field form.titulo class+="form-control" name+="titulo"%}
                    </div>
                </div><!-- end row -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-12 mg-t--1 mg-md-t-0">
                    <div class="form-group mg-md-l--1">
                        <label class="form-control-label">Subtítulo de la publicación: <span
                                class="tx-danger">*</span></label>
                        {% render_field form.descripcion_corta class+="form-control" placeholder="Ingrese una frase aluciva a la publicación"%}
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-12 mg-t--1 mg-md-t-0">
                    <div class="form-group mg-md-l--1">
                        <label class="form-control-label">Categorías de la publicación: <span
                                class="tx-danger">*</span></label>

                        <select class="form-control select2" data-placeholder="Escoje una o varias categorías"
                            name="categorias2" multiple>
                            {% for cat in categorias  %}
                            <option value="{{cat.id}}">{{cat.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-8 ">
                    <div class="form-group mg-md-l--1">
                        <label class="form-control-label">Imagen principal: <span class="tx-danger">*</span></label>
                        <label class="custom-file">
                            {% render_field form.imagen class="form-control"%}
                        </label>
                    </div>
                </div><!-- col-8 -->
                <div class="col-md-4 ">
                    <div class="form-group mg-md-l--1">
                        Publicación públicada ? {% render_field form.publicado%}
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="form-group bd-t-0-force">
                        <label class="form-control-label">Cuerpo de la publicación: <span
                                class="tx-danger">*</span></label>
                        {% render_field form.description id="summernote"%}
                    </div>
                </div><!-- col-8 -->
            </div><!-- row -->
            <div class="form-layout-footer bd pd-20 bd-t-0">
                <button type="submit" class="btn btn-info">Publicar</button>
            </div><!-- form-group -->
        </form>
    </div><!-- form-layout -->
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "panel/lib/summernote/summernote-bs4.min.js" %}"></script>
<script src="{% static "panel/lib/medium-editor/medium-editor.js" %}"></script>
<script src="{% static "panel/lib/select2/js/select2.min.js" %}"></script>
<script>
    $(function () {
        'use strict';

        // Inline editor
        var editor = new MediumEditor('.editable');

        // Summernote editor
        $('#summernote').summernote({
            height: 150,
            tooltip: false
        })
    });
</script>

{% endblock %}