{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152346576-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-152346576-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ofrecemos servicios digitales en Cartagena de Indias: Páginas web en Cartagena - Diseño gŕafico - Desarrollo web. Visítanos, conoce todos nuestros servicios.">

    <title>Páginas web en Cartagena - Diseño gŕafico Cartagena - Agencia Ingraphic</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">  

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="preload" as="style">
    <link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" defer>

    <!-- Custom fonts for this template -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i">
    
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">
    
    <script src="https://kit.fontawesome.com/9b2eefdfe3.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/coming-soon.min.css' %}" rel="preload" as="style">
    <link href="{% static 'landing/css/coming-soon.min.css' %}" rel="stylesheet">

    <script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "WebSite",
        "name": "Ingraphic",
        "url": "https://www.ingraphic.co/"
        }
    </script>
    <meta itemprop="image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">

    <meta property="og:title" content="Páginas web en Cartagena - Diseño gŕafico Cartagena - Agencia Ingraphic">
    <meta property="og:description" content="Ofrecemos servicios digitales en Cartagena de Indias: Páginas web en Cartagena - Diseño gŕafico - Desarrollo web. Visítanos, conoce todos nuestros servicios.">
    <meta property="og:image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">
    <meta property="og:url" content="https://ingraphic.co/">  
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ingraphic"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://ingraphic.co/">
    <meta name="twitter:title" content="Páginas web en Cartagena - Diseño gŕafico Cartagena - Agencia Ingraphic">
    <meta name="twitter:description" content="Ofrecemos servicios digitales en Cartagena de Indias: Páginas web en Cartagena - Diseño gŕafico - Desarrollo web. Visítanos, conoce todos nuestros servicios.">
    <meta name="twitter:creator" content="@ingraphic_co">
    <meta name="twitter:image" content="https://ingraphic.co/static/landing/img/ingraphic_website.jpg">

</head>

<body>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{% static 'landing/mp4/bg.mp4' %}" type="video/mp4">
    </video>

    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-5 py-md-0">
                        <h1 class="text-center">Páginas web en Cartagena - Diseño gŕafico Cartagena - Agencia Ingraphic</h1>
                        <h2 class="mb-3">¡Volveremos pronto!</h2>
                        <p class="mb-2">Estamos trabajando duro para ofrecerte nuevos y mejores servicios en Cartagena de Indias: Diseño gráfico, Diseño y desarrollo de páginas web, Redes sociales y más. &#128077;
                            &#128526; &#128077;
                        </p>
                        <p class="mb-5">
                            <br>¿Quieres que te avisemos con anticipación de nuestra apertura? <br><span
                                class="font-weight-bold">Regístrate abajo</span>
                        </p>
                        <div class="input-group input-group-newsletter">
                            <form id="subscribe_form">
                                <input type="text" class="form-control mb-2" placeholder="tu nombre..."
                                    aria-label="tu nombre..." id="name">
                                <input type="email" class="form-control mb-2" placeholder="tu email..."
                                    aria-label="tu email..." aria-describedby="submit-button" id="email">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="subscribe_btn">Notifícame</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
                <a href="http://wa.me/573147096731" target="_blank" rel="noopener noreferrer" title="Ir a whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li class="list-unstyled-item">
                <a href="https://www.facebook.com/ingraphicCO/" target="_blank" rel="noopener noreferrer" title="Ir a facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-unstyled-item">
                <a href="https://www.instagram.com/ingraphic_co/" target="_blank" rel="noopener noreferrer" title="Ir a instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'landing/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'landing/js/coming-soon.min.js' %}"></script>

    <script>
        $('#subscribe_btn').click(function (e) {
            e.preventDefault();
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;

            if (name == "" || email == "") {
                document.getElementById("msj-error").innerHTML = "Formulario invalido, ingrese sus datos en los campos."
            } else {
                document.getElementById('subscribe_btn').disabled = true;
                $.ajax({
                    type: "POST",
                    url: "{% url 'registrar_suscriptor' %}",
                    data: {
                        'name': name
                        , 'email': email
                        , 'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    success: function (response) {

                        setTimeout(function () {
                            alert(response.message);
                            var form = document.getElementById("subscribe_form");
                            form.reset();
                        }, 1000);
                    }
                });
            }
        });
    </script>

</body>

</html>